/* Desktop */
.container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.imgHome {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Mobile - telas menores que 600px */
@media screen and (max-width: 600px) {
    .container {
        margin: 20px;
        flex-direction: column;
        align-items: center;
    }

    .imgHome {
        width: 90%;
        max-width: 300px;
    }
}

