.principal{
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin-left: 70px;
    padding-left: 200px;
}

.clientes-container{
    margin-bottom: 20px;
}

.addCliente{
    background-color:#7A162F;
    color: white;
    padding: 8px 15px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px; 
    height: 40px;
    width: 170px;
}


.clientes-header{
    display: flex;
    justify-content: space-between;

}

.cliente-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 0 0 6px #7A162F80;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.cliente-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px #7A162F80;
    background-color: #fff8f8;
    cursor: pointer;
}

.cliente-info {
    display: flex;
    align-items: center;
  }
  

.icon-usuario {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
  

.cliente-nome {
    font-weight: 500;
    font-size: 16px;
  }
  

.cliente-acoes {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  

.icon-editar {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ff6666;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 34px;
  }
  
.slider:after {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: red;
    transition: .4s;
    border-radius: 50%;
  }
  
.switch input:checked + .slider {
    background-color: #90ee90;
  }
  
.switch input:checked + .slider:after {
    transform: translateX(16px);
    background-color: #00cc00;
  }

