name: Deploy Projeto Prover

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-via-ssh:
    runs-on: ubuntu-latest
    steps:
    - name: Executar Deploy no Servidor
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        port: 22
        script: |
          set -e

          # --- 1. DEFINIÇÃO DE CAMINHOS ---
          DOMAIN_DIR="mercadomaranataipi.com.br"
          TARGET_PATH="/home/${{ secrets.SSH_USER }}/$DOMAIN_DIR"

          echo "--> Garantindo que a pasta do projeto existe..."
          mkdir -p "$TARGET_PATH"
          cd "$TARGET_PATH"

          # --- 2. CLONE OU UPDATE ---
          if [ ! -d ".git" ]; then
            echo "--> Diretório limpo. Realizando clone inicial..."
            # Clona o conteúdo da pasta atual (.)
            git clone https://github.com/EnriqueSena1/Projeto_Prover.git .
          else
            echo "--> Repositório existente. Atualizando código..."
            git fetch origin main
            git reset --hard origin/main
          fi

          # --- CORREÇÃO AQUI ---
          # Como clonamos com ponto (.), a pasta 'Projeto_Prover' do repo não é criada.
          # Entramos direto na pasta onde está o manage.py
          cd "ProjetoProver" 

          # --- 3. CONFIGURAÇÃO DE AMBIENTE ---
          echo "--> Criando arquivo .env..."
          echo "DB_NAME=${{ secrets.DB_NAME }}" > .env
          echo "DB_USER=${{ secrets.DB_USER }}" >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env

          # --- 4. BUILD E DEPLOY (Docker Swarm) ---
          echo "--> Iniciando Build do Docker..."
          docker build -t app-prover:latest .

          echo "--> Realizando Deploy no Swarm..."
          docker stack deploy -c docker-compose.yml stack_prover
          
          echo "--> Forçando atualização do serviço..."
          docker service update --force stack_prover_web